.container{

    width: 1200px;
    border: 3px solid rgb(246, 121, 121);
    display:flexbox;
    flex-direction:column ;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 3px;
    text-align: center;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-colorido-modelo-huellas-pata-perro-o-gato_1017-30662.jpg");
}
.image{
    width: 600px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(109, 103, 169);
}

.par{
    font-style: italic;
    font-size: 25px;
    color:rgb(12, 11, 11);
}
.title{
    font-style: italic;
    font-size: 30px;
    color:rgb(0, 0, 0);
}